/* app global css */
// breakpoint variable, from https://quasar.dev/style/breakpoints
// Except the xs one because I think 600px is too small
$xs-breakpoint: 718px;
$sm-breakpoint: 1024px;
$md-breakpoint: 1439px;
$lg-breakpoint: 1920px;

.container,
.container-sm,
.container-md,
.container-lg,
.container-xl {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: $xs-breakpoint) {
  .container,
  .container-sm {
    max-width: 540px;
  }
  .hidden-xs {
    display: none;
  }
  .block-xs {
    display: block;
  }
}

@media (min-width: $sm-breakpoint) {
  .container,
  .container-sm,
  .container-md {
    max-width: 920px;
  }
  .hidden-sm {
    display: none;
  }
  .block-sm {
    display: block;
  }
}

@media (min-width: $md-breakpoint) {
  .container,
  .container-sm,
  .container-md,
  .container-lg {
    max-width: 1140px;
  }
  .hidden-md {
    display: none;
  }
  .block-md {
    display: block;
  }
}

@media (min-width: $lg-breakpoint) {
  .container,
  .container-sm,
  .container-md,
  .container-lg,
  .container-xl {
    max-width: 1440px;
  }
  .hidden-lg {
    display: none;
  }
  .block-lg {
    display: block;
  }
}

a {
  color: #100b0f;
  text-decoration: none;
  background-color: transparent;
}

.card-desc_section {
  padding: 10px;
}

a {
  color: #100b0f;
  text-decoration: none;
  background-color: transparent;
}

.index-card:hover {
  box-shadow: 5px 5px 5px 5px #b3b3b3;
  border: solid 1px #b3b3b3;
  transition-duration: 0.25s;
}

.gap-1 {
  gap: 1rem;
}

.gap-2 {
  gap: 2rem;
}

.link:hover {
  text-decoration: underline;
}

.image_cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
